NET "a" LOC = P29 | IOSTANDARD = LVTTL;
NET "b" LOC = P32 | IOSTANDARD = LVTTL;
NET "cin" LOC = P30 | IOSTANDARD = LVTTL;
NET "sum" LOC = P50 | IOSTANDARD = LVTTL;
NET "cout" LOC = P51 | IOSTANDARD = LVTTL;